
*{
  box-sizing: border-box;
  font-family: "Nunito Sans" , sans-serif;
}

.cell {
  display: inline-block;
  width:49%;
  text-align: center;
}

.circle{
  display: inline-block;
  width:100px;
  height:100px;
  border-radius: 50%;
  background: rgba(203,37,156,0.671);
  box-shadow: 4px -40px 60px 5px rgb(40 37 203) inset;
}
.rotate-in-up-left {
  animation: rotate-in-up-left 2s ease infinite;
  transform-origin: left bottom; /* rotates around the bottom-left corner */
}

@keyframes rotate-in-up-left {
  0% {
    transform: rotate(-90deg) translateY(100%);
    opacity: 0;
  }
  50% {
    transform: rotate(-45deg) translateY(50%);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
}
.form-container{
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

/*custom scrollbar styles*/
/* Track */
::-webkit-scrollbar{
  width:8px;
}
/* Handle */
::-webkit-scrollbar-thumb{
  background-color: #807c7c;
  border-radius: 6px;
  display: none;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover{
  background-color: #302f2f;
}
/* Track */

::-webkit-scrollbar-track{
  background: transparent;
}

@keyframes fade-in-left {
          from {
            opacity: 0;
            transform: translateX(-30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        @keyframes fade-in-right {
          from {
            opacity: 0;
            transform: translateX(30px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .animate-fade-in-left {
          animation: fade-in-left 1s ease forwards;
        }

        .animate-fade-in-right {
          animation: fade-in-right 1s ease forwards;
        }
@keyframes bell-shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: rotate(-10deg);
  }
  20%, 40%, 60%, 80% {
    transform: rotate(10deg);
  }
}

.animate-bell {
  animation: bell-shake 0.8s ease-in-out;
}

.dots-container {
  display:flex;
  align-items: center;
  justify-content:center;
  height: 100%;
  width:100%;
  margin-bottom:5px;
}

.dot{
  height:12px;
  width:12px;
  margin-right:10px;
  border-radius:10px;
  background-color: #2242c2;
  animation:pulse 1.5s infinite ease-in-out
}

@import "tailwindcss";
